<%- include partials/header_index.ejs %>

<%- include partials/main_nav.ejs %>
  

<!-- Main Content -->
<h2 class ="reach">ABOUT US</h2>
<div class="intro">
TCL has been built on the pillars of ambition, trust and hardwork. We have only one mission and that is to make your lives easier. Explore more about TCL below!
 </div>
 <div class="team-intro">
 <div class="team-picture"><img width="200px" height="200px" src="./Assets/images/ceo.jpg"></div>
  <div class="team-detail"><h3>What do we aim to achieve?</h3>
  <p>The aim of this project is to help make grocery shopping easy and accesible. Click below to explore the code.</p>
  <div class="know-more"><a class="aknow-more" href="https://github.com/jque4/COMP229_Group_Project">Know more</a></div></div><div class="team-border"></div>
 </div>
  <div class="team-intro">
 <div class="team-picture"><img width="200px" height="200px" src="./Assets/images/team.jpg"></div>
  <div class="team-detail"><h3>Meet our TEAM</h3>
  <p>The Coders League has 6 employees. They work tirelessly for the welfare of all those who are in need. Our employees have been around here since 2022.</p>
  <div class="know-more"><a class="aknow-more" href="https://centennialcollegeedu-my.sharepoint.com/:w:/g/personal/jque4_my_centennialcollege_ca/EVWmduZsO0JLiZWBVr9H3MoBkiVnAzvPe0LqZCZC52wm1g?e=GkHMMt">Know more</a></div></div><div class="team-border"></div>
 </div>
  <div class="team-intro">
 <div class="team-picture"><img width="200px" height="200px" src="./Assets/images/history.jpg"></div>
  <div class="team-detail"><h3>Know our HISTORY</h3>
  <p>TCL started when a group of 6 dedicated students decided to resolve grocery delivery issues. Today TCL stand in honor of it's founding members.</p>
  <div class="know-more"><a class="aknow-more" href="https://centennialcollegeedu-my.sharepoint.com/:w:/g/personal/jque4_my_centennialcollege_ca/EX2aWxy5SUtArRiWYK5k3JEB3jjTqg5iTc99FX3LxU5xRQ?e=slYoFc">Know more</a></div></div><div class="team-border"></div>
 </div>
 
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




