<%- include partials/header_index.ejs %>

<%- include partials/main_nav.ejs %>

<div class="contact">
  <h2 class="reach">Reach out to us</h2>
  <p class="intro1">TCL is available at your service 24x7.<br>Connect via Phone, Email or Fax.<br>Lets us know if we are of any help.</p>
  <div class="contact_icon">
  <img class="small-icon" src="./Assets/images/phone.png" width="50px" height="50px" alt="phone icon" >
  Connect via Phone:
  <div class="contact-number"><a class="aknow-more" href="#">+12 123-456-789</a></div></div>
  <div class="contact_icon">Connect via Mail:
  <img class="small-icon" src="./Assets/images/mail.png" width="50px" height="50px" alt="mail icon" >
  <div class="contact-number"><a class="aknow-more" href="#">service-help@TCL.co</a></div></div>
  <div class="contact_icon">Connect via Fax:
  <img class="small-icon" src="./Assets/images/fax.png" width="50px" height="50px" alt="fax icon" >
  <div class="contact-number"><a class="aknow-more" href="#">123-456-789</a></div></div>
  </div> 
  <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.4050182320843!2d-79.23035778470883!3d43.785208151902864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d0f21fd9078f%3A0x46e3fe92c0cd2b18!2sCentennial%20College%20(Progress%20Campus)!5e0!3m2!1sen!2sca!4v1671143923257!5m2!1sen!2sca" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
  <div class="headquarter-space"><div class= "headquarter">
  <img class="small-icon1" src="./Assets/images/building.png" width="50px" height="50px" alt="building icon" ><br>
  <p class="location">Centennial College</p>
  <img class="small-icon1" src="./Assets/images/road.png" width="50px" height="50px" alt="road icon" ><br>
  <p class="location">Scarborough</p>
  <img class="small-icon1" src="./Assets/images/map-marker.png" width="50px" height="50px" alt="map marker icon" >
  <p class="location">CANADA</p>
  </div></div>
  <div class="space">
  <div class="outdiv">
  <div class="indiv"><img src="./Assets/images/building-interior.jpg" width="416px" height="277px" alt="Interior of the headquarter" ></div>
  <div class="indiv"><img src="./Assets/images/building-outerior.jpg" width="416px" height="277px" alt="Headquarter Building" ></div>
  <div class="indiv"><img src="./Assets/images/building-pathway.jpg" width="416px" height="277px" alt="Headquarter pathway" ></div>
  </div></div>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
